
	 <header>
	 	<h1>Global Grooves: Locally Sourced Beats</h1>	

	 </header>
	 <div id="map">
	 	
	 	<script>
			var map = L.map('map').setView(<%= @geolocation %>, 2);
			L.marker(<%= @geolocation %>).addTo(map).bindPopup("<strong> <%= @first_username %> </strong>").openPopup();

			L.tileLayer('http://{s}.tile.cloudmade.com/f644205df10c4e16a94c5c9b74438873/997/256/{z}/{x}/{y}.png', {
			    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			    maxZoom: 18
			}).addTo(map);

	 	</script>

	 </div>

	 <div class="footer">
		<div class="track">

				<div class="track_info">	 
					<ul>		
						<li><strong> <%= @first_username %> </strong> </li> -- <li> <em> <%= @first_track.title %> </em> </li> -- <li> <%= @user_location %> </li>
					</ul>
				</div>

		<a href="http://soundcloud.com/<%= @name_url %>/<%= @track_url %>" class="sc-player">My new dub track</a>
		</div> 
	</div>
<%# @users.each do |user| %>
	<%# if (user.city) and (user.city.length != 0)  %>
 <%#<li> # link_to user.city.titleize, "/city?user=#{user.id}&city=#{user.city}&username=#{user.username}" %> 
  <%# end%>
 <%# end %>
